<!--<%= link_to "Sign in with Strava", user_strava_omniauth_authorize_path %>-->


<!-- Header -->
<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">Sync daily runs to 100 days challange. </div>
            <div class="intro-heading">Seamlessly</div>
            <a href=<%=user_strava_omniauth_authorize_path%> class="page-scroll btn btn-xl">Signup with strava</a>
        </div>
    </div>
</header>

<!-- Services Section -->
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Features</h2>
                <h3 class="section-subheading text-muted">Sync daily run from strava to 100 days running challenge.</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Seamless</h4>
                <p class="text-muted">It automatically sync your runs from strava to 100 days running challange without doing anything.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Resubmit old runs</h4>
                <p class="text-muted"> Check the runs which are currently submitted and resubmit any run again upto last 7 days.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Notification</h4>
                <p class="text-muted">We are also working on notifing you if you haven't run today by 10PM IST to remind you to finish your todays run.</p>
            </div>
        </div>
    </div>
</section>



<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">How it works</h2>
                <h3 class="section-subheading text-muted">Steps you need to follow to configure your run.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                          <h2>Step <br> 1 </h2>

                          <!--  <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">-->
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 >Signup using Strava</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Clikc on link above to sign up with Strava!</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                          <h2>Step <br> 2 </h2>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 > Update Date of birth</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Update your date of birth in record section</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                          <h2>Step <br> 3 </h2>

                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 >Update reporting_email </h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Reporting email is defaulted to strava email, update the email id if your 100 days of running registered email is different from strava email.!</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                          <h2>Step <br> 4 </h2>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4> Check your runs</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted"> Go to run section and check if your runs are reported correctly and resubmit any old run you haven't submitted!</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>Now you
                                <br>Should be
                                <br>Done!</h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
